loglevel=error
registry=https://registry.npmmirror.com
node-linker=hoisted
strictStorePkgContentCheck=false
verifyStoreIntegrity=false
network-concurrency=16
fetch-retries=3
fetch-timeout=60000
strict-peer-dependencies=false
auto-install-peers=true
lockfile=true
prefer-frozen-lockfile=false
resolution-mode=highest
update-notifier=false
